{% extends "base.html" %}
{% block content %}

<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="booking-form">
                    <div class="form-header">
                        <h1>GPU Availability</h1>
                        <br>
                    </div>
                    <form action="" method="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    {% from "_formhelpers.html" import render_field %}
                                     <dl>
                                        {{ render_field(form.node) }}
                                     </dl>
                                </div>
                            </div>
                        </div>
                            <div class="form-btn">
                                {{ form.submit(class_="submit-btn") }}
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}